{{- $posts := where (partial "public-pages.html" .page) "Section" "posts" -}}
{{- $terms := slice -}}
{{- range index site.Taxonomies .taxonomy -}}
  {{- $count := 0 -}}
  {{- range .Pages -}}{{- if in $posts . -}}{{- $count = add $count 1 -}}{{- end -}}{{- end -}}
  {{- if $count -}}
    {{- $key := printf "%0*d-%s" (len (string (len $posts))) (sub (len $posts) $count) (lower .Page.Title) -}}
    {{- $terms = $terms | append (dict "Page" .Page "Count" $count "SortKey" $key) -}}
  {{- end -}}
{{- end -}}
{{- return (sort $terms "SortKey") -}}
